@model IEnumerable<StuddentsAppProject.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>List of students</h1>

<p>
    <a href="@Url.Action("Create", "Students")" class="btn btn-primary">Create new student</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JMBG)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
                @* @item.BirthDate.ToString("dd.MM.yyyy") *@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JMBG)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">View</a> |
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |                
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
